<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <title> Responsive Drop Down Navigation Menu | CodingLab </title>
    <link rel="stylesheet" href="/home/homee.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <nav>
    <div class="navbar">

      <div class="logo-image">
        <img src="/images/IMA.JPG" alt="Logo" />
      </div>
      
      <i class='bx bx-menu'></i>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">IMAPG </span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li><a href="#">HOME</a></li>
          <li>
            <a href="#">Calender</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a href="/kitform/kit.html">PPC Calender  </a></li>
              <li><a href="/dynamicdropdown/dynamicdropdown.html">IFAT Calender</a></li>
              <li><a href="/blc/blc.html">CFAT Calender</a></li>  
            </ul>
          </li>

          <li>
            <a href="#">Indore Assembly</a>
            <i class='bx bxs-chevron-down js-arrow arrow'></i>
            <ul class="js-sub-menu sub-menu">
              <li><a href="/employeform/employeeform.html">Employee Form</a></li>
              <li><a href="/po.html">New PO Form</a></li>
              <li><a href="/po-list.html">Kick-Off Form</a></li>
              <li><a href="/kickoff-list.html">Update Machine CCN</a></li>
              <li><a href="/machine/machine.html">PO DATA</a></li>

            </ul>
          </li>

          <li><a href="#">Kila Maidan</a>
            <i class='bx bxs-chevron-down stores-arrow arrow'></i>
            <ul class="stores-sub-menu sub-menu">             
      <li><a href="/kitinwardform/kitinward.html">Sub-Assembly Kit Inward Form</a></li>
      <li><a href="/kitformoutputstatus/kitformoutput.html">Sub-Assembly Kit Status</a></li>
      <li><a href="/kitlivestatus/stocktransferkila.html">Stock Transfer Record Bhoomika </a></li>
      <li><a href="/kitlivestatus/scanner.html">Inward Stock Form KM</a></li>
      <li><a href="/kitlivestatus/stockTransferLimbodagari.html">Stock Transit Form KM</a></li>
      <li><a href="/itemmasterkanban/outputTable.html">Kila Maidan Stock Status</a></li>



            </ul>
          </li>


              <li><a href="#">Bhomika</a>
                <i class='bx bxs-chevron-down bhomika-arrow arrow'></i>
                <ul class="bhomika-sub-menu sub-menu">
                  <li><a href="/bhomika-employe/bemploye.html">Bhoomika Employee Form</a></li>
                  <li><a href=/kitlivestatus/kitlivestatus.html>Bhoomika Kit Forwaded Status</a></li>
                  <li><a href="/kitlivestatus/bhoomikaoutputtable.html">Bhomika Live Status</a></li>
                  <li><a href="/kitlivestatus/qrcode.html">Bhoomika Close Status Cards</a></li>

                </ul>
              </li>
              <li><a href="#">Limbodagari</a>
                <i class='bx bxs-chevron-down kanban-arrow arrow'></i>
                <ul class="kanban-sub-menu sub-menu">
                  <li><a href="/itemmasterkanban/masteekanbann.html">Kanban Item Master Form</a></li>
                  <li><a href="/kitlivestatus/limbodagariScannerForm.html">Inward Stock LM</a></li>
                  <li><a href="/itemmasterkanban/releaseform.html">Release TO CCN</a></li>
                  <li><a href="/itemmasterkanban/outputTableLimbodagari.html">Limbodagari Output Table</a></li>
                  <li><a href="/itemmasterkanban/outputtablekanban.html">Kanban Inventory Dashboard</a></li>
                </ul>
              </li>

              <li><a href="#">IFAT</a>
                <i class='bx bxs-chevron-down ifat-arrow arrow'></i>
                <ul class="ifat-sub-menu sub-menu">
                  <li><a href="/kitlivestatus/sztocktransfer.html">IFAT Completed Machines</a></li>
                  <li><a href="/kanbanform/kanbanform.html">IFAT Done M/C w/o Final Material Date</a></li>
                </ul>
              </li>
              <li><a href="#">CFAT</a>
                <i class='bx bxs-chevron-down cfat-arrow arrow'></i>
                <ul class="cfat-sub-menu sub-menu">
                  <li><a href="/itemmasterkanban/outputTableLimbodagari.html">CFAT Completed Machines</a></li>
                  <li><a href="/kitlivestatus/stockTransferLimbodagari.html">Live CCN w/o Planned CFAT Dates</a></li>
                  <li><a href="/kitlivestatus/limbodagariScannerForm.html">Handed To Dispatched With No Dates</a></li>
                </ul>
              </li>
              <li><a href="#">Others</a>
                <i class='bx bxs-chevron-down others-arrow arrow'></i>
                <ul class="others-sub-menu sub-menu">
                  <li><a href="/machinemodel/machine-model.html">Trial INVOCING (In Last 15 Days)</a></li>
                  <li><a href="/machine/machine-status-summary.html">Topmost Priority Machines</a></li>
                  <li><a href="#">Today's Work On Machines</a></li>
                  <li><a href="#">100% Self Pulling Materials From Stores</a></li>
                  <li><a href="#">Assembly Staff</a></li>
                  <li><a href="#">PO Data</a></li>
                  <li><a href="#">Dispatched Machines Details</a></li>
                  <li><a href="#">Shop Floor-Customized Machines</a></li>
                  <li><a href="#">Shop Floor-Stock Machines</a></li>
                  <li><a href="#">Machine Under Procurement</a></li>
                  <li><a href="#">Live CCN Assy Start Date</a></li>
                  <li><a href="#">PPC Materials Delay Live Customized Machines-2</a></li>
                  <li><a href="#">Resources Sharing Form</a></li>
                  <li><a href="/registration/registration.html">Registration Page</a></li>
                </ul>
              </li>
              
          



        </ul>
      </div>
      <div class="search-box">
        <i class='bx bx-search'></i>
        <div class="input-box">
          <input type="text" placeholder="Search...">
        </div>
      </div>

      <div class="avatar" id="avatarMenu">
        <span class="avatar-text" th:text="${#strings.substring(session.user.employeename, 0, 1)} + ${#strings.substring(session.user.employeename.split(' ').length > 1 ? session.user.employeename.split(' ')[1] : session.user.employeename, 0, 1)}">AK</span>
        <div class="avatar-dropdown" id="avatarDropdown" style="display:none;">
          <a href="/logout" class="avatar-logout">Log out</a>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <!-- Main content goes here -->
</main>

<footer>
  <div class="footer-container">
    <p class="footer-left" th:text="'Department: ' + ${session.user.department}">Department</p>
    <p>&copy; 2025 IMAPG. All rights reserved.</p>

    <span class="footer-right" th:text="'Login: ' + ${session.user.employeename}">Welcome, User</span>
  </div>
</footer>

  <script src="/home/homee.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function() {
    var avatar = document.getElementById('avatarMenu');
    var dropdown = document.getElementById('avatarDropdown');
    avatar.addEventListener('click', function(e) {
      e.stopPropagation();
      dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    });
    document.addEventListener('click', function() {
      dropdown.style.display = 'none';
    });
  });
</script>
  
</body>
</html>