<!DOCTYPE html>
<html>
<head>
    <title>Logout Success</title>
  
  
    <link rel="stylesheet" type="text/css" href="/logout-success.css"> <!-- Optional: Add your CSS file -->
    <style>
        /* CSS for positioning the image */
        img {
            position: absolute;
            top: 10px; /* Adjust as needed */
            left: 10px; /* Adjust as needed */
        }
    </style>

</head>
<body>
    <img src="images/IMA1.jpg" alt="" width="90" height="40">

    <div class="container">
        <h1 th:text="${message}">Logout Successfully</h1> <!-- Display the message -->
        <a href="/">Go to Login</a> <!-- Link back to the login page -->
    </div>
</body>
</html>
